body{
    background-color: #d9d9d9;
    color: #c2932f;
    font-weight: bold;
    
}


.area{
    display: flex;
}
.cont_serv{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    width: 100vw;
}

.img_serv img{
    width: 520px;
    height: 250px;
    position: relative;
}

.texto_serv{
    display: block;
    position: relative;
    width: 520px;
    padding-left: 2%;
}

.texto_serv h3{
    margin-bottom: 10px;
}